/* 넥슨 https://wess.tistory.com/310 */
/* ==========================
   📌 넥슨 Lv1 Gothic 웹 폰트 설정 
   ========================== */
   @font-face {
    font-family: 'NexonLv1Gothic';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicLight.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicLight.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'NexonLv1Gothic';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicRegular.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicRegular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'NexonLv1Gothic';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicBold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicBold.woff') format('woff');
    font-display: swap;
}


/* 여백 초기화 */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1, 
h2,
h3,
h4,
h5,
h6,
pre,
code,
fieldset,
form,
legend,
p,
blockquote,
th,
td,
input,
select,
button,
figure, 
figcaption {
    margin: 0;
    padding: 0;
}

/* 시멘틱 태그 초기화 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup, 
menu,
nav,
section {
    display: block;
}

/* 폰트 초기화 */
body,
button,
input,
select,
table,
textarea {
    color: #000;
    font-family: 'NexonLv1Gothic', 'AppleSDGothicNeo-Regular', 'Malgun Gothic', '맑은 고딕', dotum, 돋움;
}

/* 링크 초기화 */
a {
    text-decoration: none;
    color: #000;
}

/* 목록 초기화 */
li,
ol,
ul {
    list-style: none;
}

/* 제목 초기화 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/* 폰트 스타일 초기화 */
em, address {
    font-style: normal;
}

/* 이미지 초기화 */
img {
    width: 100%;
    vertical-align: top;
}

/* 보더 최기화 */
img, fieldset, button {
    border: 0;
}

/* 클리어 픽스 */
.clearfix {
    zoom: 1;
}
.clearfix::before,
.clearfix::after {
    content: '';
    display: block;
    line-height: 0;
}
.clearfix::after {
    clear: both;
}

/* 블라인드 효과 */
.blind {
    width: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    position: absolute;
    text-indent: -9999px;
}

/* 이미지 대체(ir) 효과 */
.ir {
    display: block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px; 
}

/* 스킵메뉴 */
#skip {
    position: relative;
    z-index: 10000;
}
#skip a {
    background: #000;
    color: #fff;
    position: absolute;
    padding: 20px 40px;
    left: -400px;
    top: 5px;
}
#skip a:active,
#skip a:focus {
    left: 5px;
}

/* 컨테이너 */
.container {
    width: 1160px;
    padding: 0 20px;
    margin: 0 auto;
}

/* 섹션 공통요소 */
.section {
    padding: 120px 0;
}
.section > h2 {
    font-size: 50px;
    line-height: 1;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 400;
}
.section > p {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 70px;
    color: #666;
    text-align: center;
}
.section > span {
    display: block;
    text-align: center;
    font-size: 16px;
    text-decoration: underline;
    margin-bottom: 14px;
}

/* 폰트 */
.nexon {
    font-family: 'NexonLv1Gothic';
    font-weight: 400;
}

/* 배경색 */
.gray {
    background-color: #f5f5f5;
}

/* 간격 셋팅 */
.mb0 {margin-bottom: 0 !important;}
.mb10 {margin-bottom: 10px !important;}
.mb20 {margin-bottom: 20px !important;}
.mb30 {margin-bottom: 30px !important;}
.mb40 {margin-bottom: 40px !important;}
.mb50 {margin-bottom: 50px !important;}
.mb60 {margin-bottom: 60px !important;}
.mb70 {margin-bottom: 70px !important;}

.mt0 {margin-top: 0 !important;}
.mt10 {margin-top: 10px !important;}
.mt20 {margin-top: 20px !important;}
.mt30 {margin-top: 30px !important;}
.mt40 {margin-top: 40px !important;}
.mt50 {margin-top: 50px !important;}
.mt60 {margin-top: 60px !important;}
.mt70 {margin-top: 70px !important;}